/* 
colors
#ab5429 brown
#211932 navy blue
#f8f8f8 light grey

#f4f4f4 extra light grey for my work category 
#ffffff white  
#171027 extra dark navy(more for sticky menu)
#8e8899 light grey font for sticky menu
#f79f1b mustard color of his shirt
*/



/* fonts
font-family: 'Martel', serif;
font-family: 'Martel Sans', sans-serif;
*/



/* universal styles */
li {
    list-style: none;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    /* right align? */
}

* {
    font-family: 'Martel Sans', sans-serif;
}

/* repeated styles */
.GIT {
    font-family: 'Martel Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    background-color: #211932;
    margin: 10px 20px;
    border-radius: 50px 50px 50px 50px;
    border-style: none;
    padding: 20px 30px;
}

.GIT:hover {
    background-color: #ab5429;
    transition: 0.5s;
}

/* header styles */

header {
    background-color: rgb(174, 169, 169);
    /*  grey for testing purposes */
    padding-top: 50px;
}

nav {
    display: inline-block;
}


.makeBrown {
    color:#ab5429
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
}


h4 {
    color:#706c6c;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 200;
}

h1 {
    color:black;
    font-family: 'Martel', serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/********ABOUT ME SECTION***********/
h2 {
    font-size: 32px;
    align-content: left;
    font-family: 'Martel', serif;
    margin-bottom: 0;
    font-weight: 500;
}

.myStory {
    display: inline;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: 300;
    background-color: #ab5429;
    color: white;
    border-radius: 50px;
    padding: 0px 10px;
    align-items: left;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;

}

.stats {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 300px;
    padding: 40px 25px;
    border-radius: 20px;
}

.stats div {
    padding: 0px;
}

.stats div:first-child {
    color:  #ab5429;
    /*how i make work?
    update,I did it, was missing
    a hyphen*/
} 

.NOPE {
    color: black;
    /* had to add this cause it was being selected with the first children above, not sure why */
}

.stats{
    gap: 15px
}

/* my work section */
.gallery {

}

.flexContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    gap: 20px
}

.flexContainer li {
    width: 200px;
    height: 200px;

    background-size: cover;

    border-radius: 5%;
}

.flexContainer li div{
    background-color: whitesmoke;
    border-radius: 5%;
    margin: 5px;
    margin-top:130px;

    /* display: none; */
    opacity: 0;
}

.flexContainer li div:hover {
    opacity: 100%;
    transition: 1.2s;
}


/* images for gallery */
.g1 {
    background-image: url('./assets/DSC06711.JPG');
}

.g2 {
    background-image: url('./assets/DSC06738.JPG');
}

.g3 {
    background-image: url('./assets/DSC07976.JPG');
}

.g4 {
    background-image: url('./assets/DSC07962.JPG');
}

.g5 {
    background-image: url('./assets/DSC06723.JPG');
}

.g6 {
    background-image: url('./assets/DSC06852.JPG');
}

.g7 {
    background-image: url('./assets/DSC08206.JPG');
}

.g8 {
    background-image: url('./assets/DSC07001.JPG');
}

.g9 {
    background-image: url('./assets/DSC07106.JPG');
}


/* lets talk section */
.letsTalk {
    background-color: #211932;
    color: white;
}

::placeholder{
    color:#ab5429;
    font-weight: 600;
    
}

form input {
    border-radius: 50px;
    border: none;
}


/* footer stuff */
.iconFlex {
    display:flex;
    justify-content: center;
    gap: 10px;
    color:#ab5429;

}